:root {
  --image-size: 30vh;
  --60: #1D1E20;
  --30: #222325;
  --10: #b9bec8;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 24px;
  font-weight: 400;
  height: 100vh;
  width: 100vw;

  background-color: var(--60);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

body {
  margin: 0;
}

#root {
  display: none;
  opacity: 0;
  transition: all 2s ease-in-out;
}
