@media (max-aspect-ratio: 13/9)

/* AND (pointer: coarse)  */
	{

	.contact-container-dark,
	.contact-container-light {
		display: flex;
		flex-direction: column;
		align-items: center;
		background-color: var(--60-dark-theme);
		width: 100%;
		height: calc(100% - var(--header-footer-height));
		margin-top: var(--header-height);
		margin-bottom: var(--footer-height);
		opacity: 0;
		transition: all 0.5s ease-in-out;
		box-sizing: border-box;
	}

	.contact-container-light {
		background-color: var(--60-light-theme);
	}

	.fade-in {
		opacity: 1;
	}

	.contact-intro-dark,
	.contact-intro-light {
		text-align: center;
		padding: 7%;
		color: var(--10-dark-theme);
		font-size: var(--about-contact-font);
		line-height: 4.5vh;
		margin: 0;
	}
	.contact-intro-light {
		color: var(--10-light-theme);
	}

	.contact-icon-link-dark,
	.contact-icon-link-light {
		display: flex;
    flex-direction: column;
    align-items: center;
    height: 17vh;
    aspect-ratio: 1 / 1;
    justify-content: center;
	}
	.contact-icon-link-light {
	}

	.contact-icon-dark,
	.contact-icon-light {
		width: var(--image-size);
		height: var(--image-size);
		filter: invert(0.95);
		transform: scale(0.4);
	}
	.contact-icon-light {
		filter: invert(0);
	}
}