@media (min-aspect-ratio: 13/9),
(orientation: landscape) {

	.home-dark,
	.home-light {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: calc(100% - var(--footer-height));
		margin-bottom: var(--footer-height);
		align-items: center;
		background-color: var(--60-dark-theme);
		color: var(--10-dark-theme);
		transition: all ease-in-out 0.5s;
		opacity: 0;
		box-sizing: border-box;
		overflow-x: scroll;
    overflow-y: hidden;
	}

	.home-light {
		background-color: var(--60-light-theme);
		color: var(--10-light-theme);
	}

	.fade-in {
		opacity: 1;
	}

	.introduction-container-dark,
	.introduction-container-light {
		margin: 1vh 4vh;
	}

	.introduction-dark,
	.introduction-light {
		text-align: center;
		width: calc(31vh + 25vw);
		margin: 0 calc(1vh + 15vw);
		line-height: 5vh;
		font-size: var(--font-size);
		color: var(--10-dark-theme);
	}

	.introduction-light {
		color: var(--10-light-theme);
	}

	.figure-container-dark,
	.figure-container-light {
		width: var(--image-size);
		height: var(--image-size);
		position: relative;
	}

	.profile-picture-container-dark,
	.profile-picture-container-light {
		margin-left: calc(5vh + 5vw);
		width: var(--image-size);
		height: var(--image-size);
		position: relative;
	}

	.profile-picture-dark,
	.profile-picture-light {
		width: var(--image-size);
		height: var(--image-size);
	}

	.fade-effect-dark,
	.fade-effect-light {
		position: absolute;
		top: 0;
		left: 0;
		width: var(--image-size);
		height: var(--image-size);
		transition: all ease-in-out 0.5s;
		box-shadow: inset 0px 0px calc(1vw + 1vh) calc(1vw + 1vh) var(--60-dark-theme),
			inset 0px 0px calc(1vw + 1vh) calc(1vw + 1vh) var(--60-dark-theme),
			0px 0px calc(1vw + 1vh) calc(1vw + 1vh) var(--60-dark-theme);
	}

	.fade-effect-light {
		box-shadow: inset 0px 0px calc(1vw + 1vh) calc(1vw + 1vh) var(--60-light-theme),
			inset 0px 0px calc(1vw + 1vh) calc(1vw + 1vh) var(--60-light-theme),
			0px 0px calc(1vw + 1vh) calc(1vw + 1vh) var(--60-light-theme);
	}

	.section-display-container-container-dark,
	.section-display-container-container-light {
		width: 95vw;
		display: flex;
		flex-direction: column;
		margin: 8vh 2vw 0 5vw;
		height: 69vh;
		align-items: center;
		transition: all 0.5s ease-in-out;
		font-size: calc(var(--font-size) - 0.5rem);
		font-weight: bolder;
		color: var(--10-dark-theme);
	}

	.section-display-container-container-light {
		color: var(--10-light-theme);
	}

	.all-projects-display-dark,
	.all-projects-display-light {
		height: 80%;
		width: 95%;
		margin: 0 10vw;
		display: flex;
		flex-direction: row;
		overflow-x: scroll;
		border-radius: 5vh;
		transition: all 0.5s ease-in-out;
		background-color: var(--30-dark-theme);
	}

	.all-projects-display-light {
		background-color: var(--30-light-theme);
	}
}