@media (max-aspect-ratio: 13/9) AND (pointer: coarse) {
	.main-home {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		align-items: center;
		color: white;
	}
	
	.profile-picture-container {
		position: relative;
	}
	
	.profile-picture {
		width: var(--image-size);
	}
	
	.fade-effect {
		position: absolute;
		top: 0;
		left: 0;
		width: var(--image-size);
		height: var(--image-size);
		box-shadow: inset 0px 0px calc(1vw + 1vh) calc(1vw + 1vh) black;
	}
}