@media (min-aspect-ratio: 13/9),
(orientation: landscape) {

	.header-dark,
	.header-light {
		display: flex;
		color: var(--10-dark-theme);
		background-color: var(--30-dark-theme);
		height: var(--header-height-landscape);
		width: 100%;
		position: fixed;
		justify-content: space-evenly;
		align-items: center;
		top: 0;
		z-index: 10;
		transition: all 0.5s ease-in-out;
	}

	.header-light {
		color: var(--10-light-theme);
		background-color: var(--30-light-theme);
	}

	.home-button-dark,
	.home-button-light,
	.about-button-dark,
	.about-button-light,
	.contact-button-dark,
	.contact-button-light {
		font-size: var(--header-font);
		color: var(--10-dark-theme);
		background-color: var(--30-dark-theme);
		height: 5vh;
		width: 15vw;
		border-radius: 1vw;
		transition: all 0.5s ease-in-out;
		/* margin: 0 0.5vw; */
		border: solid 0.1vw;
	}

	.home-button-light,
	.about-button-light,
	.contact-button-light {
		color: var(--10-light-theme);
		background-color: var(--30-light-theme);
	}

	.select-language-dark,
	.select-language-light {
		font-size: var(--header-font);
		color: var(--10-dark-theme);
		background-color: var(--30-dark-theme);
		height: 5.1vh;
		width: 15vw;
		border: solid 0.1vw;
		border-radius: 1vw;
		transition: all 0.5s ease-in-out;
	}

	.select-language-light {
		color: var(--10-light-theme);
		background-color: var(--30-light-theme);
	}
}