:root {
  --image-size: calc(19vh + 19vw);

  --header-height: 5vh;
  --footer-height: 5vh;
  --header-footer-height: calc(var(--footer-height) + var(--header-height) - 0.3vh);
  --font-size: calc(1.5vh + 1.5vw);

  --60-light-theme: #e7e7e6;
  --30-light-theme: #d7d5d4;
  --10-light-theme: #595347;

  --60-dark-theme: #1e1e20;
  --30-dark-theme: #222325;
  --10-dark-theme: #b9bec8;


  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  line-height: 24px;
  font-weight: 400;
  height: 100%;
  width: 100%;

  background-color: var(--60-dark-theme);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.root {
  display: none;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.no-script {
  color: rgb(140, 248, 140);
  width: 100vw;
  display: flex;
  text-align: center;
  height: 100vh;
  line-height: calc(1.7vh + 1.7vw);
  flex-direction: column;
  animation: move-text 30s ease-in-out infinite;
  font-size: calc(1.7vh + 1.7vw);
  justify-content: center;
  align-items: center;
}

@keyframes move-text {
  0% {
    filter: hue-rotate(1deg);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 200, 0, 1.2); 
  }
  
  25% {
    filter: hue-rotate(80deg);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,-200, 0, 1.1); 
  }
  
  50% {
    filter: hue-rotate(170deg);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 250, 0, 1); 
  }
  
  75% {
    filter: hue-rotate(260deg);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,-200,  0, 1.1); 
  }
  
  100% {
    filter: hue-rotate(355deg);
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 200, 0, 1.2); 
  }
}